openapi: 3.0.4
info:
  title: recoshelf-api
  description: REST API for app ReCoShelf
  version: 0.0.1

servers:
  - url: http://127.0.0.1:3000/v1
    description: Local server

paths:
  /me/releases:
    get:
      summary: Get authenticated user's releases.
      tags:
        - me
      security:
        - bearerAuth: []
      responses:
        "200":
          description: A JSON array of user's releases.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Release"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      summary: Add a release to user collection.
      tags:
        - me
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReleaseRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Release"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /me/releases/{releaseID}:
    delete:
      summary: Delete a release from user collection.
      tags:
        - me
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /me/releases/batch-delete:
    post:
      summary: Batch delete releases from user collection.
      tags:
        - me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeleteRequest"
      responses:
        "200":
          $ref: "#/components/responses/BatchDeleteSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string

    Release:
      type: object
      properties:
        id:
          type: integer
        source:
          type: string
        sourceReleaseID:
          type: integer
        title:
          type: string
        country:
          type: string
        genres:
          type: array
          items:
            type: string
        releaseYear:
          type: integer
        tracklist:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        images:
          type: string
        barcode:
          type: string
        fetchedAt:
          type: string
          format: date-time

    ReleaseRequest:
      type: object
      required:
        - title
        - country
        - genres
        - releaseYear
        - tracklist
        - barcode
      properties:
        source:
          type: string
        sourceReleaseID:
          type: integer
        title:
          type: string
        country:
          type: string
        genres:
          type: array
          items:
            type: string
        releaseYear:
          type: integer
        tracklist:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        images:
          type: string
        barcode:
          type: string
        fetchedAt:
          type: string
          format: date-time

    Track:
      type: object
      required:
        - duration
        - title
      properties:
        duration:
          type: string
        title:
          type: string

    BatchDeleteRequest:
      type: object
      required: [ids]
      properties:
        ids:
          type: array
          items:
            type: integer
          minItems: 1
          maxItems: 100

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    InternalError:
      description: Something went wrong on the server
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    BatchDeleteSuccessResponse:
      description: Deleted items count for batch delete.
      content:
        application/json:
          schema:
            type: object
            properties:
              deletedCount:
                type: integer
